// Normal light mode
html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: all 0.4s;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Inter Local', 'Inter', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100vh;

  p {
    color: var(--black);
  }

  ul,
  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: var(--black);
  }

  input,
  textarea {
    font-size: 1em;
    border: 1px solid;
    outline: 0px;

    &::placeholder {
      font-family: 'Inter Local', 'Inter', sans-serif;
      font-size: 1em;
      color: var(--black);
    }
  }
}

// ✅ Dark mode body background override (this works)
html.dark body {
  background-color: var(--bg-black);
}
