//colors
$black: #1a1a1a;
$black-border: rgba(0,0,0,0.34); 
$white: #fff;
$purple: #6941c6;
$bg-purple: #f9f5ff;
$gray: #667085;
$blue: #026aa2;
$bg-blue: #f0f9ff;
$pink: #c11574;
$bg-pink: #fdf2fa;
$violet: #3538cd; //color of research tag
$bg-violet: #eef4ff;
$red: #c01048;
$bg-red: #fff1f3;

//Dark Mode
$bg-black: #090d1f;