//base
@use '../abstracts/colors' as col;

.hero-heading{ //h1
    font-weight: 700;
    font-size: 17em;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1024px){
    .hero-heading{
        font-size: 5em;
        width: calc(100vw - 2rem);
    }
}

.main-heading{
    font-weight: 600;
    font-size: 1.5em;
}

.sub-heading{
    font-weight: 600;
    font-size: 1.25em;
}
