@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
.hero-heading {
  font-weight: 700;
  font-size: 17em;
  text-transform: uppercase;
  text-align: center;
}

.main-heading {
  font-weight: 600;
  font-size: 1.5em;
}

.sub-heading {
  font-weight: 600;
  font-size: 1.25em;
}

.info-heading {
  font-size: 0.875em;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .hero-heading {
    font-size: 5em;
    width: calc(100vw - 2rem);
  }
}
.badge {
  border-radius: 16px;
  padding: 0.125em 0.625em;
  font-size: 0.875em;
  font-weight: 500;
  vertical-align: middle;
  transition: all 0.1s ease;
}

.red {
  color: #c01048;
  background-color: #fff1f3;
}
.red:hover {
  background-color: #c01048;
  color: #fff;
}

.pink {
  color: #c11574;
  background-color: #fdf2fa;
}
.pink:hover {
  background-color: #c11574;
  color: #fff;
}

.blue {
  color: #026aa2;
  background-color: #f0f9ff;
}
.blue:hover {
  background-color: #026aa2;
  color: #fff;
}

.violet {
  color: #3538cd;
  background-color: #eef4ff;
}
.violet:hover {
  background-color: #3538cd;
  color: #fff;
}

a.animate {
  position: relative;
  font-weight: 600;
  padding-bottom: 0.1em;
  color: inherit;
}
a.animate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease, left 0.3s ease;
}
a.animate:hover::after {
  width: 100%;
  left: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter Local";
  src: url("/assets/scss/css/fonts/Inter-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: background 0.4s, color 0.4s;
  transition: all 0.4s;
}
html body {
  background-color: #fff;
  color: #1a1a1a;
  font-family: "Inter Local", "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100vh;
}
html body p {
  color: #667085;
}
html body ul, html body li {
  list-style-type: none;
}
html body a {
  text-decoration: none;
  color: #1a1a1a;
}
html body input, html body textarea {
  font-size: 1em;
  border: 1px solid;
  outline: 0px;
}
html body input::placeholder, html body textarea::placeholder {
  font-family: "Inter Local", "Inter", sans-serif;
  font-size: 1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.theme-toggle {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  background-color: #1a1a1a;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.theme-toggle .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  z-index: 2;
  transition: opacity 0.3s ease;
  color: #fff;
}
.theme-toggle .bx-sun {
  left: 0.5em;
  opacity: 1;
}
.theme-toggle .bx-moon {
  right: 0.5em;
  opacity: 0;
}
.theme-toggle .slider {
  position: absolute;
  top: 0.25em;
  left: 2.25em;
  width: 1.5em;
  height: 1.5em;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: 1;
}
.theme-toggle input:checked ~ .slider {
  left: 0.25em;
}
.theme-toggle input:checked ~ .bx-sun {
  opacity: 0;
}
.theme-toggle input:checked ~ .bx-moon {
  opacity: 1;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
}
nav .container a.animate {
  position: relative;
  font-weight: 600;
  font-size: 1.25em;
  padding-bottom: 0.1em;
  color: inherit;
}
nav .container a.animate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1a1a1a;
  transition: width 0.3s ease, left 0.3s ease;
}
nav .container a.animate:hover::after {
  width: 100%;
  left: 0;
}
nav .container .nav-items {
  display: flex;
  align-items: center;
  gap: 1.8em;
}
nav .container .nav-items ul {
  display: flex;
  align-items: center;
  gap: 1.8em;
}
nav .container .nav-items ul a {
  font-weight: 400;
}
nav .container i.bx-menu {
  display: none;
}

@media (max-width: 1024px) {
  nav .container {
    padding: 1em;
  }
  nav .container a {
    font-size: 1em;
  }
  nav .container .nav-items {
    display: none;
  }
  nav .container i.bx-menu {
    display: block;
    font-size: 2em;
    cursor: pointer;
  }
}
section.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.hero .container {
  padding-top: 2em;
  /* each letter starts invisible and then fades in */
}
section.hero .container h1 {
  border-top: 1px solid rgba(0, 0, 0, 0.34);
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}
section.hero .container #type-text .letter {
  display: inline-block; /* so opacity works per letter */
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 1024px) {
  section.hero {
    /*         padding-left: 1em;
            padding-right: 1em; */
  }
  section.hero .container {
    padding: 1em 0em;
    margin: 0;
  }
  section.hero .container h1 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
section.recent-posts .container h2.main-heading {
  padding: 1em 0em;
}
section.recent-posts .container .recent-posts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
section.recent-posts .container .recent-posts-container .post-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.recent-posts .container .recent-posts-container .post-card img {
  width: 100%;
  min-height: 230px;
}
section.recent-posts .container .recent-posts-container .post-card .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.recent-posts .container .recent-posts-container .post-card .text a.main-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-weight: 600;
  padding-bottom: 0.1em;
  color: inherit;
}
section.recent-posts .container .recent-posts-container .post-card .text a.main-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #6941c6;
  transition: width 0.3s ease, left 0.3s ease;
}
section.recent-posts .container .recent-posts-container .post-card .text a.main-heading:hover::after {
  width: 100%;
  left: 0;
}
section.recent-posts .container .recent-posts-container .post-card .text .info {
  color: #6941c6;
}
section.recent-posts .container .recent-posts-container .post-card .text .info a.animate {
  position: relative;
  font-weight: 600;
  padding-bottom: 0.1em;
  color: inherit;
}
section.recent-posts .container .recent-posts-container .post-card .text .info a.animate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #6941c6;
  transition: width 0.3s ease, left 0.3s ease;
}
section.recent-posts .container .recent-posts-container .post-card .text .info a.animate:hover::after {
  width: 100%;
  left: 0;
}
section.recent-posts .container .recent-posts-container .post-card .text h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.recent-posts .container .recent-posts-container .post-card .text .badge-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
section.recent-posts .container .recent-posts-container .sub-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
}
section.recent-posts .container .recent-posts-container .sub-container .post-card {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
section.recent-posts .container .recent-posts-container .sub-container .post-card img {
  width: 50%;
  height: auto;
}

@media (max-width: 1024px) {
  section.recent-posts .container .recent-posts-container {
    grid-template-columns: repeat(1, 1fr);
  }
  section.recent-posts .container .recent-posts-container .sub-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
  section.recent-posts .container .recent-posts-container .sub-container .post-card {
    flex-direction: column;
  }
  section.recent-posts .container .recent-posts-container .sub-container .post-card img {
    width: 100%;
  }
}
section.all-posts {
  margin-top: 2.5em;
}
section.all-posts .container h2.main-heading {
  padding: 1em 0em;
}
section.all-posts .container .all-posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
section.all-posts .container .all-posts-container .post-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.all-posts .container .all-posts-container .post-card img {
  width: 100%;
  min-height: 230px;
  max-height: 230px;
}
section.all-posts .container .all-posts-container .post-card .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.all-posts .container .all-posts-container .post-card .text a.main-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-weight: 600;
  padding-bottom: 0.1em;
  color: inherit;
}
section.all-posts .container .all-posts-container .post-card .text a.main-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #6941c6;
  transition: width 0.3s ease, left 0.3s ease;
}
section.all-posts .container .all-posts-container .post-card .text a.main-heading:hover::after {
  width: 100%;
  left: 0;
}
section.all-posts .container .all-posts-container .post-card .text .info {
  color: #6941c6;
}
section.all-posts .container .all-posts-container .post-card .text .info a.animate {
  position: relative;
  font-weight: 600;
  padding-bottom: 0.1em;
  color: inherit;
}
section.all-posts .container .all-posts-container .post-card .text .info a.animate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #6941c6;
  transition: width 0.3s ease, left 0.3s ease;
}
section.all-posts .container .all-posts-container .post-card .text .info a.animate:hover::after {
  width: 100%;
  left: 0;
}
section.all-posts .container .all-posts-container .post-card .text h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.all-posts .container .all-posts-container .post-card .text .badge-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 1024px) {
  section.all-posts {
    margin-top: 3em;
  }
  section.all-posts .container .all-posts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
}
footer {
  padding: 1em;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 1em;
}
footer ul a.animate {
  font-size: 0.875em;
  font-weight: 400;
}
footer ul a.animate::after {
  background-color: #090d1f;
}

@media (max-width: 1024px) {
  footer ul {
    flex-direction: column-reverse;
  }
}
nav.pagination {
  padding: 1em 0em;
}
nav.pagination .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.pagination .container a {
  color: #667085;
  transition: 0.2s ease;
}
nav.pagination .container a:hover {
  color: #1a1a1a;
}
nav.pagination .container ul {
  display: flex;
  align-items: center;
  gap: 1em;
}
nav.pagination .container ul a {
  font-size: 0.875em;
  padding: 0.5em 0.8em;
  border-radius: 8px;
}
nav.pagination .container ul a.active {
  background-color: #f9f5ff;
}

@media (max-width: 1024px) {
  nav.pagination .container {
    flex-direction: column;
    gap: 1.5em;
  }
  nav.pagination .container ul li:nth-child(8), nav.pagination .container ul li:nth-child(7), nav.pagination .container ul li:nth-child(6) {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
